@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body {
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f6f6;
    color: var(--secundary-neutral);
}

.container-hero-sec {
    background: hsl(193, 100%, 96%) url(../images/bg-hero-desktop.svg) no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.logo {
    width: 200px;
    height: auto;
}

.btn-in-free {
    padding: 10px 55px;
    border-radius: 50px;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.027);
    font-weight: 700;
    color: var(--secundary-color);
}

.btn-in-free:active {
    color: var(--tertiary-neutral);
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container-content-hero {
    width: 490px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    width: 450px;
    margin-bottom: 25px;
}

.description {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-started {
    background-color: var(--primary-color);
    color: var(--primary-neutral);
    border-radius: 50px;
    padding: 15px 60px;
    font-weight: 700;
    font-size: 14px;
}

.btn-started:active {
    background-color: var(--active-color);
}

.illustration-mockups {
    width: 650px;
}

.illustration-mockups img {
    width: 100%;
}

.container {
    margin: auto;
    width: 1150px;
    height: 460px;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgb(241, 241, 241);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.container:first-child {
    margin-top: 150px;
}

.container:nth-child(n+2) {
    margin-top: 40px;
}

.container:last-child{
    margin-bottom: 150px;
}

.container .content {
    width: 30.93rem;
}

.container .content p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.125rem;
    color: var(--tertiary-neutral);
}

.container img {
    width: 23.75rem;
}

.container-content {
    background-color: #ffffff;
    position: relative;
    width: 760px;
    height: 270px;
    text-align: center;
    bottom: -90px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 40px;
    box-shadow: 0 0 10px 1px var(--secundary-neutral);
}

.container-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.btn-started-big {
    background-color: var(--primary-color);
    color: var(--primary-neutral);
    border-radius: 50px;
    width: 380px;
    height: 75px;
    line-height: 75px;
    font-weight: 700;
}

.btn-started-big:active {
    background-color: var(--active-color);
}

footer {
    background-color: var(--secundary-neutral);
    color: var(--primary-neutral);
    min-height: 540px;
    color: var(--primary-neutral);
}

footer .footer-image {
    width: 220px;
    height: auto;
    filter: grayscale(1) invert(1);
}

.container-footer {
    width: 1100px;
    margin-top: 180px;
}

.content-footer {
    margin-top: 30px;
    display: grid;
    gap: 140px;
    grid-template-columns: 340px repeat(3, 1fr);
}

.content-footer .box ul li {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.content-footer .box ul li:last-child {
    gap: 10px;
}

footer .footer-description {
    font-size: 15px;
}

.box li a i {
    color: var(--primary-neutral);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-neutral);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.box li a i:active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.box ul li a:active {
    text-decoration: underline;
}

.box:last-child ul li a:active {
    text-decoration: none;
}

footer .extern {
    display: flex;
    justify-content: center;
}

footer .copy {
    margin: 40px 2% 0 auto;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 300px;
}